
*{
       margin:0;
       padding:0;
}

.CommentContainer {
	position:relative;
	margin:0 auto;
	width:427px;
}

.CommentContainer p {
	font-size:13px;
	font-family:Arial, Helvetica, sans-serif;
}

.comment,
#addCommentContainer{
	
	/* Стиль для комментариев  */
	
	padding:12px;
	width:400px;
	position:relative;
    display: inline-block;
	background-color:#fcfcfc;
	border:1px solid white;
	color:#888;
	margin-bottom:25px;
	
	/* Скругленные углы и тени CSS3 */
	
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;

	-moz-box-shadow:2px 2px 0 #c2c2c2;
	-webkit-box-shadow:2px 2px 0 #c2c2c2;
	box-shadow:2px 2px 0 #c2c2c2;
}

.comment .avatar{

	/*
	/	Аватар позиционируется абсолютно. 
	/	Внешнее смещение для div комментария
	/*/

	height:50px;
	left:-70px;
	position:absolute;
	width:50px;
	background:url('img/default_avatar.gif') no-repeat #fcfcfc;
	
	/* Центрируем вертикально: */
	
	margin-top:-25px;
	top:50%;

	-moz-box-shadow:1px 1px 0 #c2c2c2;
	-webkit-box-shadow:1px 1px 0 #c2c2c2;
	box-shadow:1px 1px 0 #c2c2c2;
}

.comment .avatar img{
	display:block;
}

.comment .name{
	font-size:20px;
	padding-bottom:10px;
	color:#ccc;
}

.comment #ip{
    font-size: 10px;
    margin-bottom: 10px;
    margin-top: -10px;
    text-align: right;
	color:#bbb;
}

.comment .date{
	font-size:10px;
	padding:6px 0;
	position:absolute;
	right:15px;
	top:10px;
	color:#bbb;
}

.comment div.content,
#addCommentContainer p,
.comment span {
	font-size:13px;
	line-height:1.5;
	overflow:hidden;
}

.CommentMore {
    color: #444444;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: -0.04em;
}
.CommentMore img {
    vertical-align: middle;
}

#addCommentContainer input[type=text],
#addCommentContainer textarea{

	/* Стиль для ввода */

	display:block;
	border:1px solid #ccc;
	margin:5px 0 5px;
	padding:3px;
	font-size:12px;
	color:#555;
	font-family:Arial, Helvetica, sans-serif;
}

#addCommentContainer textarea{
	width:300px;
}
.exit {
    float: right;
    margin-right: 15px;
    margin-top: 5px;
    position: relative;
}

label{
	font-size:10px;
}

label span.error{
    font-size: 10px;
	color:red;
	position:relative;
	right:-10px;
}

.comment span.error{
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	color:red;
	position:relative;
	right:-10px;
    display: inline-block;
}

#addCommentForm #submit{
	
	/* Кнопка "Отправить" */
	
	background-color:#58B9EB;
	border:1px solid #40A2D4;
	color:#FFFFFF;
	cursor:pointer;
	font-family:'Myriad Pro',Arial,Helvetica,sans-serif;
	font-size:14px;
	font-weight:bold;
	padding:4px;
	margin-top:5px;

	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
}

#submit:hover{
	background-color:#80cdf5;
	border-color:#52b1e2;
}

.controll-button {
    width: 100%;
    display: inline-block;
}
.controll-button img {
    vertical-align: bottom;
}
.controll-button button {
background-color: #FCFCFC;
display: inline-block;
text-decoration: none;
user-select: none;
padding: 5px;
outline: none;
border-radius: 2px;
border-width: 0px;
text-transform: capitalize;
}
.controll-button button span {
font-size: 12px;
}

.controll-button .delete {
    float: right;
}

.controll-button .delete span {
    background-color: inherit;
    color: red;
}
.controll-button .edit span {
    background-color: inherit;
    color: blue;
}
.controll-button .save span {
    background-color: inherit;
    color: #45A71A;
}
.controll-button .cancel span {
    background-color: inherit;
    color: #4788A5;
}
.controll-button button:hover {
background: linear-gradient(#fff, #BFBFBF);
box-shadow:
 inset rgba(0,0,0,.5) 0 -1px 1px,
 inset rgba(0,0,0,.2) 0 1px,
 inset #fff 0 2px,
 rgba(0,0,0,.2) 0 1px 1px;
}
.controll-button button:active {
background: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.1));
box-shadow:
 inset rgba(0,0,0,.8) 0 1px 2px,
 inset rgba(0,0,0,.05) 0 -1px 0,
 #fff 0 1px 1px;
}

 
